@import "tailwindcss";

/* Enable class-based dark mode */
@variant dark (&:where(.dark, .dark *));

/* .container {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
}

.card {
	background-color: #ffffff;
	border-radius: 12px;
	padding: 20px;
	width: 250px;

	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.card h2 {
	margin: 0 0 10px;
	font-size: 1.25rem;
	color: #222;
}

.card p {
	margin: 0;
	font-size: 0.95rem;
	color: #555;
} */
